[submodule "gfdgffg/PW-Earners-code"]
	path = gfdgffg/PW-Earners-code
	url = https://github.com/warmaa785-alt/PW-Earners-code.git
[submodule "gfdgffg/my-first-page-to-learn-githu"]
	path = gfdgffg/my-first-page-to-learn-githu
	url = https://github.com/warmaa785-alt/my-first-page-to-learn-githu.git
